@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-title: "Barlow", sans-serif;
  --font-subtitle: "Barlow Condensed", sans-serif;
  --font-sans: "Raleway", sans-serif;
}

html,
body {
  @apply bg-stone-100 text-stone-900;
}
