@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-title: "Barlow", sans-serif;
  --font-subtitle: "Barlow Condensed", sans-serif;
  --font-sans: "Raleway", sans-serif;

  --text-2xs: .75rem;
  --text-3xs: .625rem;
}

html,
body {
  @apply bg-stone-100 text-stone-900;
}
